<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<%- include('components/navbar') %>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Yuk Kenalan</h1>
            <p>Hi My Name Is Ridha Annisa</p>
            <p>Aku adalah anak terakhir dari 4 bersaudara. Aku mempunyai 2 orang abang laki-laki dan 1 orang kakak.</p>
            <p>Aku dan keluargaku meyukai hobi yang sama yaitu bermain badminton. Alhamdulillah hobi tersebut menghasilkan kami uang maupun penghargaan.</p>
            <p>Kami kompak dalam segala hal dari hobi maupun makanan.</p>
            <p>Sekian perkenalan singkatnya:)</p>

        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Kata Bijak Hari Ini</h3>
            <p>"Jangan jadikan kekurangan sebagai masalah untuk maju kedepan tapi jadikanlah kekurangan sebagai bantuan untuk terus maju kedepan"</p>
        </div>
    </div>
</main>
	
	<footer>
		<p class="text-center text-muted">© Copyright 2021 Ridha Annisa</p>
	</footer>
</body>
</html>