<!DOCTYPE html>
<html>
<head>
	<title>Ridha Annisa</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<%- include('components/navbar') %>
	
<main>
    <div class="jumbotron">
        <h1>Welcome To My Website</h1>
        <p>Perbanyak Bersyukur Kurangi Insecure</p>
        <p><b>Masih betah insecure? you are sure?</b></p>
        <p>Sudah cukup insecure-insecurean tentang kecantikan yang dimiliki seseorang! Semua cewek itu cantik dengan caranya sendiri dalam berpenampilan maupun bersikap.Lebih baik akhlak yang dipercantik agar dipandang orang lain bahwa kita itu cantik karena akhlak yang baik.</p>
        <p>Salah satu cara untuk membebaskan diri dari perasaan insecure ini adalah dengan meyakinkan diri sendiri bahwa semua cewek itu cantik dan selalu berpikir positif kecantikan bukan jadi patokan untuk kita insecure terhadap seseorang. Mengapa? ya karena, setiap manusia memiliki kekurangan maupun kelebihan pada dirinya sendiri.</p>
        <p><b>Ayo ciwi-ciwi mulai sekarang dan seterusnya, mari kurangi insecure dan mulai perbanyak bersyukur!!!</b></p>
    </div>
</main>

	<footer>
		<p class="text-center text-muted">© Copyright 2021 Ridha Annisa</p>
	</footer>
</body>
</html>